/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASE STYLE */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html, 
body {
  display: flex;
  width: 100%;
  height: 100%; 
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

/* Mobile View */
/* Home Page */
/* Header navigation */
nav {
  display: flex;
  align-items: center;
}

.header-nav,
.footer-nav {
  background-color: #6D899B;
}
  
.header-logo {
  width: 20px;
  margin-right: auto;
  margin-left: 4px;
}

nav a {
  padding: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
}

.header-nav a,
.footer-nav a {
  color: #F6DCCD;
}

.home-link,
.header-link {
  border-right: 0.01rem solid #F6DCCD;
  padding: 0 14px;
}

.home-link {
  font-weight: bold;
}

.social-link {
  padding: 0 14px;
  font-size: 12px; 
}

nav a:hover,
nav a.active {
  font-size: 11px;
  font-weight: bold; 
}

/* Main content */
.home {
  background-color: #F9F6F1;
}

/* text title only appears on Desktop View */
.home-title h1 {
  font-size: 0;
  color: transparent;
}

/* adjust and resize images and fonts */
.home-title {
  display: block;
  text-align: center;
} 

.home-title img {
  width: 140px;
  padding: 10px;
  margin: 10px 0;
}

.home-content img {
  width: 235px;
}

.home-content a {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  text-decoration: none;
}

.home-content a p {
  font-family: 'Montserrat', 
  sans-serif;
  font-size: 10px;
  text-align: right;
  color: #6D899B;
}

/* Footer navigation */
.footer-nav {
  height: 20px;
  justify-content: center;
}

.footer-link {
    border-right: 0.01rem solid #F6DCCD;
    padding: 0 12px;
  }

.footer-social {
  padding: 0 12px;
}

/* About Page */
/* navigation */
.about-nav {
  background-color: #BECBD3;
}

.about-nav a {
  color: #004349;
}

.about-link {
  border-right: 0.01rem solid #004349;
  padding: 0 14px;
}

.about-nav a:nth-child(3) {
  font-weight: bold;
}

/* About Contetn */
/* adjust layout, fonts and the style of image */
.about-content {
  width: 245px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.profile-icon img {
  width: 100px;
  margin: 50px 0 40px 0;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #A4A8A8;
}

.profile-icon h1 {
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 4px;
}

.profile-icon h2 {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.about-content p {
  font-weight: 200;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px; 
}

/* Portfolio Page */
/* hide images for desktop view */
.display-a {
  display: none;
}

/* adjust entire layout */
.gallery {
  display: block;
  text-align: center;
  background-color: #F9F6F1;
}

.my-gallery {
  width: 180px;
  margin: 18px 0;
}

.display-p {
  width: 280px;
  margin: 0 auto;
}

.display-p img {
  margin-bottom: 20px;
}

.display-p img:last-child {
  margin-bottom: 40px;
}

/* adjust navigation of Portfolio Page */
.portfolio-link {
  padding: 0 14px;
  font-weight: bold;
  border-right: 0.01rem solid #F6DCCD;
}

footer {
  position: relative;
}

.top-btn {
  font-size: 14px;
  color: #F6DCCD;
  position: absolute;
	bottom: 3.5px;
	right: 8px;
}

/* Contact Page */
/* navigation */
.contact-nav {
  background-color: #F6F0E0;
}

.contact-nav a {
  color: #3B372E;
}

.contact-link {
  border-right: 0.01rem solid #3B372E;
  padding: 0 14px;
}

.contact-nav a:nth-child(5) {
  font-weight: bold;
}

/* adjust image*/
.contact-content {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.contact-content img{
  width: 160px;
  margin: 40px 0 20px 0;
}

/* Contact Form */
.contact-form {
  width: 60%;
  display: block;
  margin: 0 auto;
  text-align: left;
}

.contact-form form>div {
  margin: 16px 0;
}

label {
  font-size: 1.2rem;
  font-family: 'Reenie Beanie', cursive; 
}

textarea,
input {
  width: 100%;
  display: block;
  padding: 5px;
  font-size: 1.15rem;
  border: 1px solid #3B372E;
  border-radius: 4px;
  box-shadow: 0 0 4px #ccc;
  background: none;
}

button {
  width: 100%;
  padding: 6px;
  margin: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Reenie Beanie', cursive; 
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  background: whitesmoke;
  box-shadow:0px 0px 2px #ccc;
}

button:hover {
  background: #F6F0E0;
}

/* adjust text in footer */
.contact-email {
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: -90px;
  right: 60px;
}



/* Tablet View */
@media screen and (min-width:768px) and (max-width: 1023px) {
  /* adjust header navigations */
  .header-logo {
    width: 36px;
  }
  
  nav a {
    font-size: 18px;
  }
  
  .home-link,
  .header-link,
  .about-link,
  .portfolio-link,
  .contact-link {
    padding: 0 20px;
  }
  
  .social-link {
    padding: 0 20px;
    font-size: 20px; 
  }
  
  nav a:hover,
  nav a.active {
    font-size: 20px;
  }

  /* adjust footer navigations */
  .footer-nav {
    height: 40px;
  }
  
  .footer-link {
      padding: 0 18px;
    }
  
  .footer-social {
    padding: 0 20px;
  }

  .top-btn {
    font-size: 22px;
    bottom: 7px;
    right: 10px;
  }
  
  /* adjust layout, sizes */
  /* Home Page */
  .home-title img {
    width: 310px;
    margin: 50px 0;
  }
  
  .home-content img {
    width: 100%;
    padding: 1px;
  }

  .home-content {
    width: 100%;
    display: grid;
    grid-template-columns: 184px 322px;
    justify-content: center;
  }
  
  .home-content a {
    margin-bottom: 150px;
  }
  
  .home-content a p {
    font-size: 14px;
  }

  /* About Page */
  .about-content {
    width: 70%;
  }
  
  .profile-icon img {
    width: 140px;
    margin: 100px 0 60px 0;
  }
  
  .profile-icon h1 {
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 4px;
  }
  
  .profile-icon h2 {
    font-size: 16px;
    margin-bottom: 60px;
  }
  
  .about-content p {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
  }

  /* Portfolio Page */
  .my-gallery {
    width: 240px;
    margin: 40px 0;
  }
  
  .display-p {
    width: 600px;
  }
  
  .display-p img:last-child {
    margin-bottom: 100px;
  }
  
  /* Contact Page */
  .contact-content img{
    width: 280px;
  }
  
  .contact-form {
    width: 50%;
  }

  .contact-email {
    font-size: 12px;
    bottom: -180px;
    right: 120px;
  }
}



/* Desktop View */
@media screen and (min-width:1024px) {
  /* adjust navigations */
  .header-logo {
    width: 20%;
    margin-left: 0;
  }
  
  nav a {
    font-size: 1.2rem;
  }
  
  .home-link,
  .header-link,
  .about-link,
  .portfolio-link,
  .contact-link {
    padding: 0 30px;
  }
  
  .social-link {
    padding: 0 28px 0 30px;
    font-size: 24px; 
  }
  
  nav a:hover,
  nav a.active {
    font-size: 20px;
  }

  .footer-nav {
    height: 40px;
  }

  .footer-link {
      padding: 0 20px;
    }
  
  .footer-social {
    padding: 0 22px;
  }

  .top-btn {
    font-size: 24px;
    bottom: 7px;
    right: 12px;
  }

  /* adjust layout, sizes */
  /* Home Page */
  .home-title img {
    display: none;
  }
  
  .home-title h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 120px;
    margin: 100px 0;
    color: #536A4B;
  }

  .home-content img {
    width: 100%;
    padding: 1px;
  }

  .home-content {
    display: grid;
    grid-template-columns: 400px 700px;
    justify-content: center;
  }
  
  .home-content a {
    margin-bottom: 150px;
  }
  
  .home-content a p {
    font-size: 16px;
  }

  /* About Page */
  .about-content {
    width: 80%;
    padding: 80px;
  }
  
  .profile-icon img {
    width: 200px;
  }
  
  .profile-icon h1 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 6px;
  }
  
  .profile-icon h2 {
    font-size: 12px;
  }
  
  .about-content p {
    font-size: 20px;
    font-weight: 200;
    line-height: 40px;
    text-align: right;
    margin: 50px 0;
  }

  .profile-icon {
    display: block;
    text-align: left;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
  }
  
  /* Portfolio Page */
  .my-gallery {
    width: 28%;
    margin: 50px 0;
  }
  
  .display-p {
    display: none;
  }

  .display-a {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .display-a img {
    margin: 60px 0;
  }
  
  .display-a img:last-child {
    margin-bottom: 150px;
  }

  .display-a p {
    font-family: monospace, sans-serif;
    font-size: 1rem;
    line-height: 20px;
    margin-top: 30px;
  }

  /* Contact Page */
  .contact-content {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    
  }
   
  .contact-content img{
    width: 300px;
    margin: 0;
  }
  
  .contact-form {
    width: 80%;
  }

  .contact-email {
    font-size: 12px;
    bottom: -80px;
    right: 170px;
  }
}